//Flex Containers

%row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin row(
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    @if $direction == row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    @if $direction == column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc) ;
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}  
}

@mixin row-until (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (max-width: $breakpoint - 1px) {
      @include row($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin row-from (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $breakpoint) {
      @include row($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin row-between (
  $start, $end, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $start) and (max-width: $end - 1px) {
      @include row($x, $y, $yc, $no-wrap, $direction)
    }
}



%container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin container(
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    @if $direction == row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    @if $direction == column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc);
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}
}

@mixin container-until (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (max-width: $breakpoint - 1px) {
      @include container($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin container-from (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $breakpoint) {
      @include container($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin container-between (
  $start, $end, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $start) and (max-width: $end - 1px) {
      @include container($x, $y, $yc, $no-wrap, $direction)
    }
}


%wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin wrapper(
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    @if $direction == row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    @if $direction == column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc);
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}
}

@mixin wrapper-until (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (max-width: $breakpoint - 1px) {
      @include wrapper($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin wrapper-from (
  $breakpoint, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $breakpoint) {
      @include wrapper($x, $y, $yc, $no-wrap, $direction)
    }
}

@mixin wrapper-between (
  $start, $end, 
  $x, $y,
  $yc: stretch,
  $no-wrap: false,
  $direction: row,
  ) {
    @media screen and (min-width: $start) and (max-width: $end - 1px) {
      @include wrapper($x, $y, $yc, $no-wrap, $direction)
    }
}
