////Width

//Columns
@mixin column($column) {width: 100%/$grid-columns * $column;}


@mixin column-break($breakpoint, $column) {
  @media screen and (min-width: $breakpoint) {
    width: 100% / $grid-columns * $column;
  }
}
//alias
@mixin column-from($breakpoint, $column) {
  @media screen and (min-width: $breakpoint) {
    width: 100% / $grid-columns * $column;
  }
}

@mixin column-until($breakpoint, $column) {
  @media screen and (max-width: ($breakpoint -1)) {
    width: 100% / $grid-columns * $column;
  }
}

@mixin column-between($start, $end, $column) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    width: 100% / $grid-columns * $column;
  }
}

@mixin column-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {

  @if $default {@include column($default)}
  @if $on-lrg-mobile  {@include column-break($lrg-mobile, $on-lrg-mobile)}
  @if $on-phablet {@include column-break($phablet, $on-phablet)}
  @if $on-tablet {@include column-break($tablet, $on-tablet)}
  @if $on-laptop {@include column-break($laptop, $on-laptop)}
  @if $on-desktop{@include column-break($desktop, $on-desktop)}
}

//Custom
@mixin custom-break($breakpoint, $width) {
  @media screen and (min-width: $breakpoint) {
    width: $width;
  }
}
//alias
@mixin width-from($breakpoint, $width, $max: false) {
  @media screen and (min-width: $breakpoint) {
    width: $width;
    @if $max {
      max-width: $width;
    }
  }
}

@mixin width-until($breakpoint, $width, $max: false) {
  @media screen and (max-width: ($breakpoint -1)) {
    width: $width;
    @if $max {
      max-width: $width;
    }
  }
}

@mixin width-between($start, $end, $width, $max: false) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    width: $width;
    @if $max {
      max-width: $width;
    }
  }
}

@mixin custom-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {

  @if $default {width: $default}
  @if $on-lrg-mobile  {@include custom-break($lrg-mobile, $on-lrg-mobile)}
  @if $on-phablet {@include custom-break($phablet, $on-phablet)}
  @if $on-tablet {@include custom-break($tablet, $on-tablet)}
  @if $on-laptop {@include custom-break($laptop, $on-laptop)}
  @if $on-desktop{@include custom-break($desktop, $on-desktop)}
}
@mixin width-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false,
  $max: false,
) {
  @if $default {
    width: $default;
    @if $max {max-width: $default;}
  }
  @if $on-lrg-mobile  {
    @include width-from($lrg-mobile, $on-lrg-mobile, $max: $max)
  }
  @if $on-phablet {
    @include width-from($phablet, $on-phablet, $max: $max)
  }
  @if $on-tablet {
    @include width-from($tablet, $on-tablet, $max: $max)
  }
  @if $on-laptop {
    @include width-from($laptop, $on-laptop, $max: $max)
  }
  @if $on-desktop{
    @include width-from($desktop, $on-desktop, $max: $max)
  }
}

@mixin max-width-from($breakpoint, $width) {
  @media screen and (min-width: $breakpoint) {
    max-width: $width;
  }
}
@mixin max-width-until($breakpoint, $width) {
  @media screen and (max-width: ($breakpoint -1)) {
    max-width: $width;
  }
}
@mixin max-width-between($start, $end, $width) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    max-width: $width;
  }
}


////Height

@mixin height-break($breakpoint, $height) {
  @media screen and (min-width: $breakpoint) {
    height: $height;
  }
}
//alias
@mixin height-from($breakpoint, $height, $max: false) {
  @media screen and (min-width: $breakpoint) {
    height: $height;
    @if $max {max-height: $height;}
  }
}
@mixin height-until($breakpoint, $height, $max: false) {
  @media screen and (min-width: $breakpoint) {
    height: $height;
    @if $max {max-height: $height;}
  }
}

@mixin max-height-break($breakpoint, $height) {
  @media screen and (min-width: $breakpoint) {
    max-height: $height;
  }
}
//alias
@mixin max-height-from($breakpoint, $height) {
  @media screen and (min-width: $breakpoint) {
    max-height: $height;
  }
}
@mixin max-height-until($breakpoint, $height) {
  @media screen and (max-width: ($breakpoint -1)) {
    max-height: $height;
  }
}
@mixin max-height-between($start, $end, $height) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    max-height: $height;
  }
}

@mixin height-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $default {height: $default}
  @if $on-lrg-mobile  {@include height-break($lrg-mobile, $on-lrg-mobile)}
  @if $on-phablet {@include height-break($phablet, $on-phablet)}
  @if $on-tablet {@include height-break($tablet, $on-tablet)}
  @if $on-laptop {@include height-break($laptop, $on-laptop)}
  @if $on-desktop{@include height-break($desktop, $on-desktop)}
}

@mixin max-height-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
    @if $default {max-height: $default}
    @if $on-lrg-mobile  {@include max-height-break($lrg-mobile, $on-lrg-mobile)}
    @if $on-phablet {@include max-height-break($phablet, $on-phablet)}
    @if $on-tablet {@include max-height-break($tablet, $on-tablet)}
    @if $on-laptop {@include max-height-break($laptop, $on-laptop)}
    @if $on-desktop{@include max-height-break($desktop, $on-desktop)}
}


////XY Sizing

@mixin size ($x, $y: false, $min: false, $max: false) {
  @if $y {
    width: $x; height: $y;
    @if $min {
      min-width: $x; min-height: $y;
    }
    @if $max {
      max-width: $x; max-height: $y;
    }

  }
  @else {
    width: $x; height: $x;
    @if $min {
      min-width: $x; min-height: $x;
    }
    @if $max {
      max-width: $x; max-height: $x;
    }
  }
}

@mixin size-until(
  $breakpoint,
  $x,
  $y: false,
  $min: false,
  $max: false
  ) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include size(
      $x,
      $y,
      $min,
      $max
    ) ;
  }
}

@mixin size-from(
  $breakpoint,
  $x,
  $y: false,
  $min: false,
  $max: false
  ) {
  @media screen and (min-width: $breakpoint - 1px) {
    @include size(
      $x,
      $y,
      $min,
      $max
    ) ;
  }
}

@mixin size-between(
  $start,
  $end,
  $x,
  $y: false,
  $min: false,
  $max: false
  ) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include size(
      $x,
      $y,
      $min,
      $max
    ) ;
  }
}

