////Spacing Scale

//Sub
$space-1: 0.25rem !default;
$space-2: 0.5rem !default;
$space-3: 0.75rem !default;
$space-4: 1rem !default;

//Light
$space-5: 1.5rem !default;
$space-6: 2rem !default;
$space-7: 3rem !default;
$space-8: 4rem !default;

//Heavy
$space-9: 6rem !default;
$space-10: 8rem !default;
$space-11: 12rem !default;
$space-12: 16rem !default;

//Super
$space-13: 24rem !default;
$space-14: 32rem !default;
$space-15: 40rem !default;
$space-16: 48rem !default;