//Page Background
$page-background: $shade-white !default;

//Shadows
$shadow-shade: $shade-dark !default;
//
$under-shadow: 0px 6px 20px -6px !default;
$centered-shadow: 0px 0px 4px 3px !default;
$up-shadow: 0px -4px 4px 0px !default;
$down-shadow: 0px 4px 4px 0px !default;
$inset-shadow: inset 0px 0px 2px !default;

//Elevation
$elevation-lightest: 0px 1px 3px !default;
$elevation-lighter: 0px 1px 3px !default;
$elevation-light: 0px 4px 6px !default;
$elevation-medium: 0px 5px 15px !default;
$elevation-heavy: 0px 10px 24px !default;
$elevation-heavier: 0px 15px 35px !default;
$elevation-heavist: 0px 20px 40px !default;

//Border
$border: 2px solid #000 !default;
$border-width: 2px !default;
$border-radius: 10px !default;

//Transitions
$transition-function: ease-in-out !default;
$transition-duration: 0.3s !default;